<form action="/add">
  <input type="text" name="task" placeholder="What needs to be done?" autofocus>
  <button>Add</button>
</form>

<div class="tasks">

  <% for task in @open_tasks %>
    <a class="task open" href="/complete?task=<%= CGI.escape(task) %>"><%= task %></a>
  <% end %>

  <% for task in @completed_tasks %>
    <del class="task completed"><%= task %></del>
  <% end %>

</div>

<a href="/clear_completed">Clear completed</a>
