<form action="/add">
  <input type="text" name="description" placeholder="What needs to be done?">
  <button>Add</button>
</form>


<div class="tasks">
  <% @tasks.each do |task| %>
  
      <% if task.completed? %>
        <div class="task completed">
                ✔ <%= task.description %>
      <% else %>
        <a class="task" href="/complete?description=<%= CGI.escape(task.description) %>">
        ✔ <%= task.description %> 
              
      </a>
      <% end %>
        
  <% end %>
</div>

<a href="/clear_completed">Clear completed</a>


