<form action="/add">
  <input type="text" name="task" placeholder="What needs to be done?">
  <button>Add</button>
</form>


<div class="tasks">

  <% @open_tasks.each do |task| %>
    <a class="task open" href="/complete/<%= CGI.escape(task) %>">
      ✔ <%= task %>
    </a>
  <% end %>
        
  <% @completed_tasks.each do |task| %>
    <div class="task completed">
      ✔ <%= task %>
    </div>
  <% end %>

</div>

<a href="/clear_completed">Clear completed</a>
